<?xml version="1.0" encoding="UTF-8"?>

<!--  Built in 2022-04-04 07:48 by logback-translator            -->
<!--                                                             -->
<!--  For sponsoring SLF4J/logback/reload4j projects see         -->
<!--    https://github.com/sponsors/qos-ch                       -->
<!--                                                             -->
<configuration>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>/logs/formResultsxls/formResultsxls.log</File>
        <append>true</append>
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>10</maxHistory>
            <!-- daily rollover -->
            <fileNamePattern>/logs/formResultsxls/formResultsxls.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Custom ones -->
    <logger name="com.biit.drools.form.xls.logger.XlsExporterLog" additivity="false" level="DEBUG">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </root>
</configuration>
